@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {}
h1 {
  font-family: 'Satisfy', 'cursive';
  font-size: 2.5em;
}
h2,p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 2em;
}